@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ClientApp.Models;
@model List<TemperatureViewModel>

<h3>Latest Temperatures</h3>
<table>
    <thead>
        <tr>
            <th>Sensor ID</th>
            <th>Sensor Description</th>
            <th>Latest Temperature</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temperature in Model)
        {
            <tr>
                <td>@temperature.SensorID</td>
                <td>@temperature.SensorDescription</td>
                <td>@temperature.Temperature</td>
                <td>@temperature.Date</td>
            </tr>
        }
    </tbody>
</table>
