@page "/"
@model IndexModel
@{
}

<div class="pt-3">
    <h1 class="display-4">Precipitation Sensors</h1>
    <div id="sensors-details">
        <partial name="_SensorsDetails" model="@Model.SensorService.Sensors" />
    </div>
</div>

<script type="text/javascript">
    var interval = 1000;
    setInterval(function () { Update() }, interval);

    function Update() {
        $("#sensors-details").load("/?handler=SensorsDetails");

        // $.get("/?handler=SensorsDetails", function (response) {
        //     console.log("Get Sensors Details!");
        //     document.getElementById('measurement-details').innerHTML = response;
        // });
    }
</script>